* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Roboto';
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #000000;
  color: #FFFFFF;
}

.image {
  width: 75px;
  height: 75px;
}

.text-area h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.text-area a {
  color: #FFFFFF;
  text-decoration: none;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}