* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Roboto';
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #000000;
  color: #ffffff;
}

.image {
  width: 75px;
  height: 75px;
}

.text-area h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.text-area a {
  color: #ffffff;
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  height: 100%;
  gap: 40px;
}

.boxes {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  padding: 40px;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  font-size: 20px;
  font-family: 'Merriweather Sans';
  text-align: center;
}

button {
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #303030;
}

.normal {
  color: rgb(0, 162, 0);
}

.preferencial {
  color: rgb(238, 238, 7);
  filter: drop-shadow(0.5px 0.5px 0 rgb(0, 0, 0))
    drop-shadow(-0.5px -0.5px 0 rgb(0, 0, 0));
}

h2 {
  font-family: 'Merriweather Sans';
}

.display-num {
  font-size: 100px;
  font-family: 'Merriweather Sans';
}

.historico-container {
  height: 20%;
  width: 80%;
  padding: 10px;
  border-radius: 16px;
  text-align: center;
}

.historico-container h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#historico-list {
  list-style: none;
  padding: 0;
}

#historico-list li {
  font-size: 24px;
  padding: 5px;
  text-decoration: none;
  outline: none;
}

@media (max-width: 1301px) {
  .main-content {
    margin-top: 60px;
    gap: 25px;
  }

  .box {
    height: 450px;
    width: 380px;
  }
}

@media (max-width: 1220px) {
  .main-content {
    margin-top: 60px;
    gap: 25px;
  }

  .box {
    height: 430px;
    width: 350px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 1130px) {
  .main-content {
    gap: 18px;
  }

  button {
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 1104px) {
  .main-content {
    gap: 14px;
  }

  .box {
    width: 270px;
  }
}

@media (max-width: 865px) {
  .main-content {
    gap: 12px;
  }

  .box {
    width: 250px;
  }

  .display-num {
    font-size: 75px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (max-width: 795px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .box {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 20px 30px;
  }

  .image {
    width: 45px;
    height: 45px;
  }

  .text-area h1 {
    font-size: 20px;
  }
}
