* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Roboto';
}

.text-area h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.text-area a {
  color: #ffffff;
  text-decoration: none;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.glass-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 80%;
  padding: 50px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#recep {
  font-size: 60px;
  font-family: 'Merriweather Sans';
}

#num {
  font-size: 150px;
  font-family: 'Merriweather Sans';
}

#tipo {
  font-size: 30px;
  font-family: 'Merriweather Sans';
}

.normal {
  color: rgb(0, 162, 0);
}

.preferencial {
  color: rgb(255, 255, 0);
}

.historico-container {
  height: 80%;
  width: 10%;
  padding: 10px;
  border-radius: 16px;
  text-align: center;
}

.historico-container h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#historico-list {
  list-style: none;
  padding: 0;
}

#historico-list li {
  font-size: 24px;
  padding: 5px;
}

@media (max-width: 840px) {

  #recep {
    font-size: 40px;
  }

  #num {
    font-size: 120px;
  }

  #tipo {
    font-size: 20px;
  }

}

@media (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }

  .glass-container {
    height: 80%;
  }

  .historico-container {
    height: 20%;
    display: flex;
  }

  #historico-list {
    display: flex;
    gap: 4px;
  }
}

@media (max-height: 620px) {
  .glass-container {
    padding: 25px;
  }

  #recep {
    font-size: 36px;
  }

  #num {
    font-size: 110px;
  }

  #tipo {
    font-size: 18px;
  }
}
